.selectable:hover{
    outline: 2px solid blue;
    outline-style:dashed;
}

.isSelected {
    outline: 2px solid blue;
    outline-style:solid;
}

.slot {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
}