.selectable:hover{
    outline: 2px royalblue;
    outline-style:dashed;
}

.isSelected {
    outline: 2px solid royalblue;
    outline-style:solid;
}

.selectedGroup {
    border-radius: 25px;
    padding-inline: 5px;
}